@import "src/theme/style-vars";

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 3px;
}

.demoMenu {
  min-width: 210px;
}

.workbenchContainer {
  min-width: 400px;
}

.workbench {
  background-color: white;
}
