@import "src/theme/style-vars";

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 3px;
}

.workbench {
  min-height: 300px;
  background-color: white;
}

.imgCell {
  padding-top: 5px;
  vertical-align: middle;
}

.demoMenu {
  min-width: 210px;
  flex: 1;
  flex-grow: 1;
}

.demoWorkbench {
  min-width: 400px;
  flex: 4;
  flex-grow: 4;
}

//Mixins

@mixin box {
  padding: 10px;
  margin: 10px;
}

.sectionPanelBlue {
  font-size: 18px;
  @include box();
  background-color: lightblue;
}

// @mixin grid($flex) {
//   @if $flex {
//     @include flex;
//   } @else {
//     display: block;
//   }
// }
