a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 3px;
}

.demoMenu {
  min-width: 250px;
}

.workbenchContainer {
  min-width: 400px;
  margin-left: 10px;
}

.workbench {
  background-color: white;
}

.mat-sidenav-container {
  height: 88vh;
}

.mat-sidenav {
  padding: 0.5rem;
  width: 185px;
}
