<mat-toolbar class="mainNav" fxFlexFill fxLayoutGap="10px">
  <div><mat-icon color="accent">menu</mat-icon></div>
  <div><img width="50px" src="/assets/images/angular.svg" /></div>
  <div fxHide.lt-lg="true" class="navTitle">
    smart Angular Single Page Application Development
  </div>
  <div
    fxFlex="1 1 auto"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutAlign.lt-lg="end center"
    fxLayout.lt-sm="column"
    fxLayoutGap="25px"
  >
    <div
      *ngFor="let route of rootRoutes"
      routerLink="{{ '/' + route.path }}"
      routerLinkActive="navLink-active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="navLink"
    >
      {{ route.data.title }}
    </div>
  </div>
  <div fxHide.gt-md><mat-icon color="accent">apps</mat-icon></div>
</mat-toolbar>
