<mat-card>
  Works with Mock Data - No Service needed
</mat-card>

<mat-card>
  <div fxLayout="column" fxLayoutGap="10px"><h4>Mouse & DOM Events</h4></div>
</mat-card>

<mat-card fxLayout="column" fxLayoutGap="10px">
  <div>signPad - Mouse Moved at {{ result | async }}</div>
  <a mat-raised-button color="accent" (click)="useMouse()"
    >Captcha Mouse Events as Observable in the SignPad</a
  >
  <canvas class="signPad"></canvas>
  <a mat-raised-button color="accent" (click)="unsubscribeMouseEvt()"
    >Unsubscribe Mouse Events</a
  >
</mat-card>

<mat-card fxLayout="column" fxLayoutGap="10px">
  <a mat-raised-button color="accent" (click)="handleClick()"
    >Activate Handle Click as Observable</a
  >

  <a mat-raised-button color="accent"
    >Click me to handle click using Observable</a
  >
</mat-card>
